<div class="row" ng-controller='ProjectsCtrl'>
    <div class="col-md-12">
        <h1 class="page-header">New Project</h1>
        <a href="#/" class="btn btn-default"><i class="glyphicon glyphicon-heart"></i> Projects</a>
        <br></br>
        <form name="projectForm" ng-submit="createProject()" novalidate>
            <div class="form-group row" ng-class="{ 'has-error': projectForm.name.$touched && projectForm.name.$invalid }">
                <label for="name" class="col-sm-2 form-control-label">Project Name*</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" ng-model="name" placeholder="Name" required>
                    <div class="help-block" ng-messages="projectForm.name.$error" ng-if="projectForm.name.$touched">
                        <p ng-message="required">Name is required.</p>
                    </div>
                </div>
                <br/>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 form-control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" ng-model="description" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="client" class="col-sm-2 form-control-label">Client Company</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="client" ng-model="client" placeholder="Company Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-sm-2 form-control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="category" ng-model="category" placeholder="Category Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-6">
                    <button ng-disabled="projectForm.$invalid" type="submit" class="btn btn-info">Create</button>
                    <button type="submit" ng-click="clear()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>